@using WymianaKsiazek.Models.MapperModels;
@model dynamic
@{ 
    int index1 = 0;
    int index2 = 0;
}
<div class="userwindow">
    <div class="userprofile-image">
        <img src="~/images/@Model.Profile.Img" height="300px" width="300px">
    </div>
    <div class="userprofile-info">
        <div class="userprofile-data"><h2>Nazwa:</h2> @Model.Profile.UserName</div>
        <div class="userprofile-data"><h2>Email:</h2> @Model.Profile.Email</div>
        <div class="myprofile-menu">
            <a asp-action="EditProfile" asp-controller="User"><div class="myprofilemenu-option">Edytuj profil</div></a>
            <a asp-action="ChangePassword" asp-controller="User"><div class="myprofilemenu-option">Zmień hasło</div></a>
            <div style="color: green; font-size: 14px">
                @if(ViewBag.ChangeInfo != null)
                {
                    <p>@ViewBag.ChangeInfo</p>
                }
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="myprofile-useroffers">
        <div class="myprofile-useroffers-header">
            <h2>Moje oferty</h2>
        </div>
        @foreach (var i in Model.Profile.Offers)
        {
            index1++;
            <div class="offerwindow">
                <div class="offerimage"><img class="offerpicture" src="~/images/@i.Image" alt="Image"></div>
                <div class="offerbooktitle">@i.Book.Title</div>
                <div class="offerbookauthor">@i.Book.Author</div>
                <div class="offeruser">Dodano przez: <div class="offerusername">@i.User.UserName</div></div>
                <div style="margin-top: 40px;"></div>
                <div class="offercityanddate">@i.Address.Name - @i.DateFromat()</div>
                <div style="clear: both;"></div>
                @if (i.ForSale == true)
                {
                    <div class="offertype">Sprzedaż</div>
                    <div class="offerprice">@i.Price zł</div>
                }
                else
                {
                    <div class="offertype">Wymiana</div>
                }
                <div style="clear: both;"></div>
                <button class="offerpreviewbutton" onclick="location.href = '@Url.Action("offer", "Offer", new { id = i.Offer_Id})'">Zobacz ofertę</button>
            </div>
            if (index1 % 4 == 0)
            {
                <div style="clear: both;"></div>
            }
        }
        <div style="clear: both;"></div>
        <div class="myprofile-useroffers-header">
            <h2>Obserwowane oferty</h2>
        </div>
        @foreach (var i in Model.LikedOffers)
        {
            index2++;
            <div class="offerwindow">
                <div class="offerimage"><img class="offerpicture" src="~/images/@i.Image" alt="Image"></div>
                <div class="offerbooktitle">@i.Book.Title</div>
                <div class="offerbookauthor">@i.Book.Author</div>
                <div class="offeruser">Dodano przez: <div class="offerusername">@i.User.UserName</div></div>
                <div style="margin-top: 40px;"></div>
                <div class="offercityanddate">@i.Address.Name - @i.DateFromat()</div>
                <div style="clear: both;"></div>
                @if (i.ForSale == true)
                {
                    <div class="offertype">Sprzedaż</div>
                    <div class="offerprice">@i.Price zł</div>
                }
                else
                {
                    <div class="offertype">Wymiana</div>
                }
                <div style="clear: both;"></div>
                <button class="offerpreviewbutton" onclick="location.href = '@Url.Action("offer", "Offer", new { id = i.Offer_Id})'">Zobacz ofertę</button>
            </div>
            if (index2 % 4 == 0)
            {
                <div style="clear: both;"></div>
            }
        }
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
</div>
