@{
    int index = 0;
}
@using WymianaKsiazek.Models.MapperModels;
@model List<OffersListMP>
<div id="searchpagewindow">
    <div class="searchpageheader"><h2>Znajdź oferty dla siebie</h2></div>
    <div class="searchfields">
        <form asp-action="search" asp-controller="Offer" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#searchedofferspanel" data-ajax-mode="replace" data-ajax-url="@Url.Action("GetPartialSearchView", "Offer")" autocomplete="off">
            <div class="searchfield">
                <div style="float: left;"><i class="fas fa-search"></i></div>
                <input type="text" id="searchtitleorauthorbar" class="searchfieldbox" name="searchbookbox" placeholder="Szukaj po tytule lub autorze" autocomplete="off">
                <div style="clear: both;"></div>
            </div>
            <div class="searchfield">
                <div style="float: left;"><i class="fas fa-map-marker-alt"></i></div>
                <input type="text" id="searchlocationbar" class="searchfieldbox" name="searchlocationbox" placeholder="Dowolna lokalizacja" autocomplete="off">
                <div style="clear: both;"></div>
            </div>
            <div id="searchfieldwithbutton">
                <input type="submit" value="Szukaj" class="searchsubmit">
                <div style="clear: both;"></div>
            </div>
            <div style="clear: both;"></div>
        </form>
    </div>
</div>
<div class="searchpagefilterswindow">
    <div class="searchpagefilterheader"><h2>Filtry</h2></div>
    <form autocomplete="off" asp-action="search" asp-controller="Offer" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#searchedofferspanel" data-ajax-mode="replace" data-ajax-url="@Url.Action("GetPartialSearchByFilterView", "Offer")">
        <div class="searchpagecategory" id="categorychoice" onclick="showDropdownList()">
            <div>Kategoria <i class="fas fa-book"></i></div>
            <div class="searchpagecategoryfilter" id="categoryfiltervalue" style="border-right: 1px solid #A9A9A9; width: 190px;">
                Dowolna kategoria
            </div>
            <div class="searchpagecategoryfilter"><i class="fas fa-arrow-down"></i></div>
            <div style="clear: both;"></div>
            <div id="dropdowncategorylist" class="dropdown-content">
                <p onclick="setCategoryValue(0, 'Dowolna kategoria')">Dowolna kategoria</p>
                <p onclick="setCategoryValue(1, 'Literatura')">Literatura</p>
                <p onclick="setCategoryValue(2, 'Kryminał, Thriller')">Kryminał, Thriller</p>
                <p onclick="setCategoryValue(3, 'Fantasy, Sciene Fiction')">Fantasy, Sciene Fiction</p>
                <p onclick="setCategoryValue(4, 'Horror')">Horror</p>
                <p onclick="setCategoryValue(5, 'Romanse')">Romanse</p>
                <p onclick="setCategoryValue(6, 'Lektury')">Lektury</p>
                <p onclick="setCategoryValue(7, 'Inne')">Inne</p>
            </div>
            <input type="hidden" value=0 id="inputcategoryid" name="inputcategoryid">
        </div>
        <div class="searchpagecategory" style="margin-left: 50px;">
            <div>Cena od <i class="fas fa-dollar-sign"></i></div>
            <input type="number" value=0 class="numericinput" id="inputlowprice" name="inputlowprice" min="0" max="100">
        </div>
        <div class="searchpagecategory" style="margin-left: 20px;">
            <div>Cena do <i class="fas fa-dollar-sign"></i></div>
            <input type="number" value=0 class="numericinput" id="inputupprice" name="inputupprice" min="0" max="100">
        </div>
        <div style="clear: both;"></div>
        <div class="searchpagechecboxfield">
            <input type="checkbox" id="chbox1" onclick="changeCheckboxes(this)" checked>
            Sprzedaż oraz wymiana
        </div>
        <div class="searchpagechecboxfield" style="margin-left: 20px;">
            <input type="checkbox" id="chboxsell" onclick="changeCheckboxes(this)">
            Tylko sprzedaż
        </div>
        <div class="searchpagechecboxfield" style="margin-left: 20px;">
            <input type="checkbox" id="chboxexchange" onclick="changeCheckboxes(this)">
            Tylko wymiana
        </div>
        <div style="clear: both;"></div>
        <input type="hidden" value=2 id="inputtype" name="inputtype">
        <script>
            function changeCheckboxes(checkbox) {
                let checkbox1 = $('#chbox1')[0];
                let checkbox2 = $('#chboxsell')[0];
                let checkbox3 = $('#chboxexchange')[0];
                checkbox1.checked = false;
                checkbox2.checked = false;
                checkbox3.checked = false;
                checkbox.checked = true;
                if ($(checkbox).attr('id') == "chbox1") {
                    $('#inputtype').val(2);
                }
                else if ($(checkbox).attr('id') == "chboxsell") {
                    $('#inputtype').val(1);
                }
                else if ($(checkbox).attr('id') == "chboxexchange") {
                    $('#inputtype').val(0);
                }
            }
            var categorylistisdropped = false;
            function showDropdownList() {
                if (categorylistisdropped == false) {
                    $('#dropdowncategorylist').css('display', 'block');
                    categorylistisdropped = true;
                }
                else {
                    $('#dropdowncategorylist').css('display', 'none');
                    categorylistisdropped = false;
                }
            }
            function setCategoryValue(id, categoryname) {
                $('#categoryfiltervalue').text(categoryname);
                $('#inputcategoryid').val(id);
            }
        </script>
        <div style="text-align: center; margin-top: 10px;">
            <input type="submit" value="Szukaj" class="searchsubmitfilter">
        </div>
    </form>
</div>
<div style="height: 30px;"></div>
<form asp-action="search" asp-controller="Offer" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#searchedofferspanel" data-ajax-mode="replace" data-ajax-url="@Url.Action("ClearFilters", "Offer")">
    <input type="submit" value="Czyść filtry" class="searchsubmitfilter">
</form>
<div class="allofferswindow"><h2>Wszystkie oferty</h2></div>
<div class="allofferswindow" id="searchedofferspanel">
    @foreach (var i in Model)
    {
        index++;
        <div class="offerwindow">
            <div class="offerimage"><img class="offerpicture" src="~/images/@i.Image" alt="Image"></div>
            <div class="offerbooktitle">@i.Book.Title</div>
            <div class="offerbookauthor">@i.Book.Author</div>
            <div class="offeruser">Dodano przez: <div class="offerusername">@i.User.UserName</div></div>
            <div style="margin-top: 40px;"></div>
            <div class="offercityanddate">@i.Address.Name - @i.DateFromat()</div>
            <div style="clear: both;"></div>
            @if (i.ForSale == true)
            {
                <div class="offertype">Sprzedaż</div>
                <div class="offerprice">@i.Price zł</div>
            }
            else
            {
                <div class="offertype">Wymiana</div>
            }
            <div style="clear: both;"></div>
            <button class="offerpreviewbutton" onclick="location.href = '@Url.Action("offer", "Offer", new { id = i.Offer_Id})'">Zobacz ofertę</button>
        </div>
        if (index % 4 == 0)
        {
            <div style="clear: both;"></div>
        }
    }
    <div style="clear: both;"></div>
</div>
<div style="height: 50px;"></div>
